<div class="entries-wrapper">
  <%if @projects%>
    <%@projects.each do |project|%>
      <%=render partial: "projects", layout: false, locals:{ project: project } %>
    <% end %>
  <%elsif @entries %>
    <h1>ENTRIEZ for the blag</h1>
    <%entries.each do |entry|%>
      <%=render partial: "blog", layout: false, locals:{ entry: entry } %>
    <% end %>
  <%else %>
    <h1>There doesn't seem to be anything here</h1>
  <% end %>
</div>