<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p>I am available for freelance web design and development work. If you have an App or Webpage that you'd like developed please use the form below and I will be in touch within 24 hours to discuss details and pricing.</p>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 form-wrapper">  
  <%=  render partial: "contact", layout: false, locals: { entry: @entry, visitor: @visitor } %>
  </div>
  <div class="col-md-4"></div>
</div>
