// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-media-icon{
  height: 2em;
  width: 2em;
  background-color: blue;
}
.main-portrait{
  background: url("http://www.daviddarling.info/images2/Cicero.jpg") -50px 0px;
  height: 16em;
  background-repeat: no-repeat;
}

.smaller-video-bar {
  margin-bottom: -1em;
}

.smaller-video-controls {
  height: 2em;
}

.thumbsized {
  height: 10em;
  width: 17em;
}
